.container-principal {
  background-color: var(--Grey-900);
  height: 95vh;
  display: flex;
  align-items: center;
}

.container-tarjeta {
  border-radius: 1.5vh;
  background-color: var(--Grey-800);
  width: 40vh;
  padding: 2.5%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-de-perfil {
  border-radius: 90vh;
  width: 30%;
}

.text-name-lastname {
  color: var(--White);
}

.text-ubicacion {
  color: var(--Yellow);
}

.descripcion {
  color: var(--White);
}

.links {
  margin: 1% 5%;
  text-decoration: none;
  background-color: var(--Grey-700);
  color: var(--White);
  font-weight: bold;
  padding: 10px;
  border-radius: 0.8vh;
}

.links:hover {
  background-color: var(--Yellow);
  color: var(--Grey-900);
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
